body {
  background: rgb(204,204,204); 
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);  
  width: 21cm;
  height: 29.7cm; 
}

#topsection {
    height: 8.5%;
    padding: 2.5%;
    padding-right: 20%;
    padding-left: 7%;
}

#name {
    font-family: monospace, sans-serif;
    font-size: 280%;
    margin-top: 0%;
    margin-bottom: 0%;
    font-weight: 200;
}

#address {
    text-align: center;
    margin-top: 1%;
    font-family: "Helvetica", "Arial", "sans-serif";
}

.header, .subheader, .body{
    font-family: "Helvetica", "Arial", "sans-serif";
}

#maintext {
    display: flex;
    margin-left: 7%;
    margin-right: 7%;
    border-top-style: solid;
    border-color: #c1c1c1;
    border-width: 0.18em;
}

.column {

}

#column1 {
    padding-right: 5%;
    width: 28%;
    border-right: solid;
    border-right-color: #c1c1c1;
    border-width: 0.18em;
}

#column2 {
    margin-left: 5%;
}

.header {
    font-size: 130%;
}

.subheader {
    font-size: 80%;
}

.body {
    font-size: 80%;
}
